@model CAPATHON.Models.Dependent
@{
    ViewData["Title"] = "Edit Dependent";
}

<h1>Edit</h1>

<h4>Dependent Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDependent" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClientId" value="@ViewBag.userId">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPhone" class="control-label"></label>
                <input asp-for="EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" type="date" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalNotes" class="control-label"></label>
                <input asp-for="AdditionalNotes" class="form-control" />
                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>