<!--Posting to the SessionDependent Table-->
<!--ViewBag For other things-->
@model CAPATHON.Models.SessionDependent

@{
    ViewData["Title"] = "Session Sign Up";
}

<br>

<h1 class="text-center"><strong>Session sign up</strong></h1>
<br>

<div class="row justify-center">
    <div class="col-md-4">

        <!-- Session Dependent POST Form -->
        <form asp-action="CareSessionForm" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Session Id Form Input -->
            <div class="mb-4">
                <label asp-for="SessionId" class="block text-gray-700 text-sm font-bold mb-2">Session</label>
                <input asp-for="SessionId" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span asp-validation-for="SessionId" class="text-red-500 text-xs italic"></span>
            </div>

            <!-- Dependent Id Form Input -->
            <div class="mb-4">
                <label asp-for="DependentId" class="block text-gray-700 text-sm font-bold mb-2">Dependent</label>
                <input asp-for="DependentId" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span asp-validation-for="DependentId" class="text-red-500 text-xs italic"></span>
            </div>

            <!--Form Submission Button-->
            <div class="flex items-center justify-center">
                <input type="submit" value="Sign Up" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
            </div>
        </form>
    </div>
</div>

<br>