@{
    ViewData["Title"] = "DaycareUpdates";
}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daycare Photo Gallery</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
  <h1 class="text-center">Daycare Photo Gallery</h1>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="~/care1.jpg" class="card-img-top" alt="Daycare Photo 1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="~/care2.jpg" class="card-img-top" alt="Daycare Photo 2">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="~/care3.jpeg" class="card-img-top" alt="Daycare Photo 3">
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <img src="~/care3.jpeg" class="card-img-top" alt="Daycare Photo 4">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="~/care1.jpg" class="card-img-top" alt="Daycare Photo 5">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="~/care2.jpg" class="card-img-top" alt="Daycare Photo 6">
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
