@{
  ViewData["Title"] = "Home Page";
}

<html>

<head>
      <meta charset="UTF-8">
  <title>Helping Hands Care Center</title>
  

</head>

<body>
  
<section class="bg-gray-100 py-20">
  <div class="container mx-auto flex flex-col md:flex-row items-center">
    <div class="md:w-1/2 md:pr-16">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-gray-800 mb-4">Nurturing Futures One Child at a Time</h1>
      <p class="text-gray-700 text-lg mb-6">At Helping Hands Care Center, we are dedicated to providing an exceptional early learning experience that delights both parents and children. Our commitment to excellence ensures that the time spent with us is a valuable investment for parents. We don't just want to see children grow; we want to see them thrive! Join us at Helping Hands and be a part of a childcare experience that exceeds expectations.</p>
      <div class="flex justify-center">
        <a href="#" class="bg-red-500 text-white hover:bg-red-600 py-3 px-8 rounded-full mr-4 text-lg">Get in Touch</a>
        <a href="#" class="bg-gray-200 text-gray-700 hover:bg-gray-300 py-3 px-8 rounded-full text-lg">Compare Plans</a>
      </div>
    </div>
    <div class="md:w-1/2 w-5/6 mt-10 md:mt-0">
      <img src="~/kidsmile.jpeg" alt="kids" class="rounded-lg shadow-md">
    </div>
  </div>
</section>











  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-20">Services
        <br class="hidden sm:block">
      </h1>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
        <div class="p-4 md:w-1/3 flex">
          <div
            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 mb-4 flex-shrink-0">
            <svg fill="#000000" height="30px" width="30px" version="1.1" id="_x31_" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 128" xml:space="preserve">

              <g id="SVGRepo_bgCarrier" stroke-width="0" />

              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

              <g id="SVGRepo_iconCarrier">
                <path id="_x31__1_"
                  d="M118.8,118.4V72.8H90.6v-13H37.4v13h-13V40.3h11.9V29.4H24.4v-2.2h-2.2v2.2v10.8v32.5H9.8H9.2v45.6H0v4.3h128 v-4.3H118.8z M105.8,91.3h-5.4v-5.4h5.4V91.3z M96,85.8v5.4h-5.4v-5.4H96z M37.4,91.3H32v-5.4h5.4V91.3z M27.7,85.8v5.4h-5.4v-5.4 H27.7z M22.2,118.4V95.6h5.4v22.8H22.2z M32,118.4V95.6h5.4v22.8H32z M45,118.4V72.8h7.6v45.6H45z M60.2,118.4V72.8h7.6v45.6H60.2z M75.4,118.4V72.8H83v45.6H75.4z M90.6,118.4V95.6H96v22.8H90.6z M100.3,118.4V95.6h5.4v22.8H100.3z" />
              </g>

            </svg>

          </div>


          <div class="flex-grow pl-6">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Corporate Partnerships</h2>
            <p class="leading-relaxed text-base">
              Through our corporate partnerships we enable companies to support their employees by offering a safe and
              educatial option for child care. This peace of mind greatly increases employee satisfaction.
            </p>
            <a class="mt-3 text-red-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex">
          <div
            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 mb-4 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-6 h-6" viewBox="0 0 24 24">
              <svg height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 502.648 502.648" xml:space="preserve"
                fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <g>
                      <g>
                        <circle style="fill:#010002;" cx="250.399" cy="91.549" r="58.694"></circle>
                        <path style="fill:#010002;"
                          d="M455.861,253.028l-54.703-11.411c-18.637-3.904-37.037,4.638-46.765,19.824 c-9.448-4.853-19.608-9.038-30.415-12.511v-32.529c0.022-24.612-20.126-44.738-44.651-44.738h-55.933 c-24.655,0-44.716,20.126-44.716,44.738v32.701c-10.699,3.408-20.751,7.593-30.264,12.468 c-9.728-15.251-28.15-23.857-46.809-19.953l-54.747,11.411c-24.03,5.026-39.626,28.862-34.6,52.978l13.741,65.64 c4.983,24.051,28.84,39.647,52.892,34.621l17.321-3.624c8.671,12.813,20.665,24.569,36.023,34.621 c31.989,20.967,74.247,32.529,119.092,32.529c68.617,0,127.721-27.589,154.943-67.215l17.602,3.689 c24.03,5.004,47.887-10.57,52.87-34.621l13.762-65.64C495.508,281.89,479.912,258.054,455.861,253.028z M251.305,447.381 c-40.51,0-78.475-10.203-106.797-28.862c-9.707-6.342-17.753-13.395-24.202-20.945l13.266-2.783 c24.073-5.004,39.669-28.84,34.643-52.913l-12.317-59.018c7.183-3.861,14.733-7.248,22.757-10.138v10.764 c0,24.569,20.104,44.695,44.716,44.695h55.933c24.548,0,44.652-20.147,44.652-44.695v-11.325 c8.175,2.912,15.854,6.256,22.973,10.052L334.439,341.9c-4.983,24.073,10.591,47.909,34.664,52.913l13.395,2.804 C357.52,427.191,308.101,447.381,251.305,447.381z">
                        </path>
                        <circle style="fill:#010002;" cx="443.954" cy="168.708" r="58.694"></circle>
                        <path style="fill:#010002;"
                          d="M70.736,226.172c31.752-6.644,52.029-37.77,45.471-69.501 c-6.687-31.709-37.749-52.072-69.523-45.428c-31.709,6.622-52.072,37.727-45.428,69.458 C7.879,212.453,38.984,232.795,70.736,226.172z">
                        </path>
              </svg>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Community Care</h2>
            <p class="leading-relaxed text-base"> Our expansion into community care has allowed us to serve our
              community in an impactful way. This allows parents, no matter what company they work for, to have child
              care with Helping Hands. Our expectations and procedures are the same across our coporate and community,
              so we ensure our standards are met. </p>
            <a class="mt-3 text-red-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="p-4 md:w-1/3 flex">
          <div
            class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 mb-4 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-6 h-6" viewBox="0 0 24 24">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path opacity="0.15"
                    d="M18 5.5C18 5.6939 17.9779 5.88264 17.9362 6.06385C18.1174 6.02207 18.3061 6 18.5 6C19.8807 6 21 7.11929 21 8.5C21 9.88071 19.8807 11 18.5 11C17.7411 11 16.9411 10.836 16.2614 11.1734C15.4685 11.567 14.7401 12.0884 14.1073 12.7213L12.7214 14.1072C12.0885 14.7401 11.567 15.4685 11.1734 16.2615C10.836 16.9412 11 17.7412 11 18.5C11 19.8807 9.88071 21 8.5 21C7.11929 21 6 19.8807 6 18.5C6 18.3061 6.02207 18.1174 6.06385 17.9362C5.88264 17.9779 5.6939 18 5.5 18C4.11929 18 3 16.8807 3 15.5C3 14.1193 4.11929 13 5.5 13C6.25893 13 7.05907 13.1641 7.73885 12.8266C8.53173 12.433 9.2601 11.9116 9.89295 11.2787L11.2788 9.89284C11.9116 9.26007 12.433 8.53178 12.8266 7.739C13.1641 7.05919 13 6.25898 13 5.5C13 4.11929 14.1193 3 15.5 3C16.8807 3 18 4.11929 18 5.5Z"
                    fill="#000000"></path>
                  <path
                    d="M18 5.5C18 5.6939 17.9779 5.88264 17.9362 6.06385C18.1174 6.02207 18.3061 6 18.5 6C19.8807 6 21 7.11929 21 8.5C21 9.88071 19.8807 11 18.5 11C17.7411 11 16.9411 10.836 16.2614 11.1734C15.4685 11.567 14.7401 12.0884 14.1073 12.7213L12.7214 14.1072C12.0885 14.7401 11.567 15.4685 11.1734 16.2615C10.836 16.9412 11 17.7412 11 18.5C11 19.8807 9.88071 21 8.5 21C7.11929 21 6 19.8807 6 18.5C6 18.3061 6.02207 18.1174 6.06385 17.9362C5.88264 17.9779 5.6939 18 5.5 18C4.11929 18 3 16.8807 3 15.5C3 14.1193 4.11929 13 5.5 13C6.25893 13 7.05907 13.1641 7.73885 12.8266C8.53173 12.433 9.2601 11.9116 9.89295 11.2787L11.2788 9.89284C11.9116 9.26007 12.433 8.53178 12.8266 7.739C13.1641 7.05919 13 6.25898 13 5.5C13 4.11929 14.1193 3 15.5 3C16.8807 3 18 4.11929 18 5.5Z"
                    stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg>


          </div>
          <div class="flex-grow pl-6">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Pet Care</h2>
            <p class="leading-relaxed text-base"> Helping Hands has recently expanded into pet care! This exciting
              opportunity means we can now care for our furry friends! We are so excited to invite another member of
              peoples family into our family. </p>
            <a class="mt-3 text-red-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4"
              viewBox="0 0 975.036 975.036">
              <path
                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
              </path>
            </svg>
            <p class="leading-relaxed mb-6">
              As the COO of our esteemed child care company, I am truly proud of the safe and loving environment we
              provide for every child in our care. Watching them grow, learn, and flourish under our dedicated team's
              guidance brings immense joy to my heart. We prioritize their well-being, fostering their curiosity, and
              igniting their potential. Our commitment to excellence in early childhood education is unwavering, and we
              strive to make a positive impact on the lives of each and every child. </p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="~/jessica.png"
                class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">COO</span>
                <span class="text-gray-500 text-sm">Jessica Kouch</span>
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4"
              viewBox="0 0 975.036 975.036">
              <path
                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
              </path>
            </svg>
            <p class="leading-relaxed mb-6">
              As the Director of Technologies for our innovative child care company, I am thrilled to witness the
              transformative power of technology in enhancing the learning experience for our young ones. Our
              cutting-edge approach seamlessly integrates digital tools and educational platforms, creating a dynamic
              and interactive environment. </p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="~/chris.png"
                class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Director of Technologies</span>
                <span class="text-gray-500 text-sm">Chris Corso</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Growth & Success</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
          Helping Hand Care Centers (HHCC) was founded in 2007.
          <br>What started out as a vision to help modern working families with daytime childcare quickly grew into a
          reality.
        </p>
      </div>
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg center">
            <svg fill="currentColor" stroke="currentColor" height="70px" width="70px" version="1.1" id="_x31_"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 128"
              xml:space="preserve" class="text-red-500 w-12 h-12 mb-3 inline-block">

              <g id="SVGRepo_bgCarrier" stroke-width="0" />

              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

              <g id="SVGRepo_iconCarrier">
                <path id="_x31__1_"
                  d="M118.8,118.4V72.8H90.6v-13H37.4v13h-13V40.3h11.9V29.4H24.4v-2.2h-2.2v2.2v10.8v32.5H9.8H9.2v45.6H0v4.3h128 v-4.3H118.8z M105.8,91.3h-5.4v-5.4h5.4V91.3z M96,85.8v5.4h-5.4v-5.4H96z M37.4,91.3H32v-5.4h5.4V91.3z M27.7,85.8v5.4h-5.4v-5.4 H27.7z M22.2,118.4V95.6h5.4v22.8H22.2z M32,118.4V95.6h5.4v22.8H32z M45,118.4V72.8h7.6v45.6H45z M60.2,118.4V72.8h7.6v45.6H60.2z M75.4,118.4V72.8H83v45.6H75.4z M90.6,118.4V95.6H96v22.8H90.6z M100.3,118.4V95.6h5.4v22.8H100.3z" />
              </g>

            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">65</h2>
            <p class="leading-relaxed">Fortune 500 Companies</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="text-red-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
              <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">1500+</h2>
            <p class="leading-relaxed">Employees</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg center">
            <svg class="text-red-500 w-12 h-12 mb-3 inline-block" fill="currentColor" height="64px" width="64px"
              version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 297 297" xml:space="preserve">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M94.862,134.287V72.668c0-5.5-4.392-10.981-9.759-12.182L12.101,44.164c-2.939-0.658-6.024,0.057-8.378,1.941 C1.369,47.99,0,50.842,0,53.857v204.871c0,4.65,3.227,8.678,7.766,9.693l77.338,17.291c5.367,1.2,9.759-2.318,9.759-7.818v-15.002 c-2.7-0.916-5.217-2.348-7.382-4.27c-3.957-3.504-38.66-35.279-38.66-71.543C48.82,160.078,68.917,137.721,94.862,134.287z">
                  </path>
                  <path
                    d="M247.827,60.527c0-29.047-23.606-52.676-52.64-52.676c-29.029,0-52.642,23.629-52.642,52.676 c0,40.996,43.882,80.158,45.751,81.805c1.967,1.734,4.433,2.604,6.891,2.604c2.46,0,4.92-0.869,6.889-2.604 C203.945,140.686,247.827,101.523,247.827,60.527z M195.188,73.586c-7.145,0-12.94-5.846-12.94-13.059 c0-7.215,5.795-13.057,12.94-13.057c7.148,0,12.944,5.842,12.944,13.057C208.132,67.74,202.335,73.586,195.188,73.586z">
                  </path>
                  <path
                    d="M202.14,157.811v102.594c0,5.5,4.392,10.981,9.759,12.182l73.002,16.322c0.717,0.162,1.443,0.24,2.166,0.24 c2.236,0,4.433-0.756,6.211-2.182c2.354-1.885,3.723-4.736,3.723-7.752V74.344c0-4.65-3.228-8.678-7.766-9.693l-27.553-6.16 c0,20.121-8.329,43.67-24.856,65.975c-11.974,16.162-24.194,27.102-25.557,28.303C208.605,155.113,205.483,156.813,202.14,157.811z ">
                  </path>
                  <path
                    d="M178.464,272.6c5.373-1.173,9.77-6.633,9.77-12.133V157.811c-3.347-0.998-6.469-2.699-9.131-5.045 c-1.352-1.191-13.558-12.109-25.555-28.301C137.02,102.16,128.64,78.377,128.64,58.256l-10.103,2.211 c-5.373,1.177-9.769,6.639-9.769,12.139v61.682c25.946,3.434,46.044,25.791,46.044,52.793c0,36.262-34.705,68.039-38.646,71.527 c-2.173,1.93-4.696,3.367-7.398,4.285v14.918c0,5.5,4.396,9.04,9.77,7.867L178.464,272.6z">
                  </path>
                  <path
                    d="M140.905,187.08c0-21.703-17.535-39.361-39.09-39.361c-21.556,0-39.089,17.658-39.089,39.361 c0,30.637,32.584,59.9,33.973,61.131c1.461,1.297,3.291,1.945,5.116,1.945c1.828,0,3.656-0.648,5.116-1.945 C108.32,246.98,140.905,217.717,140.905,187.08z M101.815,196.84c-5.306,0-9.607-4.371-9.607-9.76c0-5.391,4.302-9.756,9.607-9.756 c5.307,0,9.61,4.365,9.61,9.756C111.426,192.469,107.122,196.84,101.815,196.84z">
                  </path>
                </g>
              </g>
            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">120</h2>
            <p class="leading-relaxed">Locations</p>
          </div>
        </div>
        <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
          <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
            <svg class="text-red-500 w-12 h-12 mb-3 inline-block" width="60px" height="60px" viewBox="0 -4 28 28"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <g clip-path="url(#clip0_503_3486)">
                  <rect width="28" height="20" rx="2" fill="white"></rect>
                  <mask id="mask0_503_3486" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28"
                    height="20">
                    <rect width="28" height="20" rx="2" fill="white"></rect>
                  </mask>
                  <g mask="url(#mask0_503_3486)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M28 0H0V1.33333H28V0ZM28 2.66667H0V4H28V2.66667ZM0 5.33333H28V6.66667H0V5.33333ZM28 8H0V9.33333H28V8ZM0 10.6667H28V12H0V10.6667ZM28 13.3333H0V14.6667H28V13.3333ZM0 16H28V17.3333H0V16ZM28 18.6667H0V20H28V18.6667Z"
                      fill="#D02F44"></path>
                    <rect width="12" height="9.33333" fill="#46467F"></rect>
                    <g filter="url(#filter0_d_503_3486)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M2.66665 1.99999C2.66665 2.36818 2.36817 2.66666 1.99998 2.66666C1.63179 2.66666 1.33331 2.36818 1.33331 1.99999C1.33331 1.63181 1.63179 1.33333 1.99998 1.33333C2.36817 1.33333 2.66665 1.63181 2.66665 1.99999ZM5.33331 1.99999C5.33331 2.36818 5.03484 2.66666 4.66665 2.66666C4.29846 2.66666 3.99998 2.36818 3.99998 1.99999C3.99998 1.63181 4.29846 1.33333 4.66665 1.33333C5.03484 1.33333 5.33331 1.63181 5.33331 1.99999ZM7.33331 2.66666C7.7015 2.66666 7.99998 2.36818 7.99998 1.99999C7.99998 1.63181 7.7015 1.33333 7.33331 1.33333C6.96512 1.33333 6.66665 1.63181 6.66665 1.99999C6.66665 2.36818 6.96512 2.66666 7.33331 2.66666ZM10.6666 1.99999C10.6666 2.36818 10.3682 2.66666 9.99998 2.66666C9.63179 2.66666 9.33331 2.36818 9.33331 1.99999C9.33331 1.63181 9.63179 1.33333 9.99998 1.33333C10.3682 1.33333 10.6666 1.63181 10.6666 1.99999ZM3.33331 3.99999C3.7015 3.99999 3.99998 3.70152 3.99998 3.33333C3.99998 2.96514 3.7015 2.66666 3.33331 2.66666C2.96512 2.66666 2.66665 2.96514 2.66665 3.33333C2.66665 3.70152 2.96512 3.99999 3.33331 3.99999ZM6.66665 3.33333C6.66665 3.70152 6.36817 3.99999 5.99998 3.99999C5.63179 3.99999 5.33331 3.70152 5.33331 3.33333C5.33331 2.96514 5.63179 2.66666 5.99998 2.66666C6.36817 2.66666 6.66665 2.96514 6.66665 3.33333ZM8.66665 3.99999C9.03484 3.99999 9.33331 3.70152 9.33331 3.33333C9.33331 2.96514 9.03484 2.66666 8.66665 2.66666C8.29846 2.66666 7.99998 2.96514 7.99998 3.33333C7.99998 3.70152 8.29846 3.99999 8.66665 3.99999ZM10.6666 4.66666C10.6666 5.03485 10.3682 5.33333 9.99998 5.33333C9.63179 5.33333 9.33331 5.03485 9.33331 4.66666C9.33331 4.29847 9.63179 3.99999 9.99998 3.99999C10.3682 3.99999 10.6666 4.29847 10.6666 4.66666ZM7.33331 5.33333C7.7015 5.33333 7.99998 5.03485 7.99998 4.66666C7.99998 4.29847 7.7015 3.99999 7.33331 3.99999C6.96512 3.99999 6.66665 4.29847 6.66665 4.66666C6.66665 5.03485 6.96512 5.33333 7.33331 5.33333ZM5.33331 4.66666C5.33331 5.03485 5.03484 5.33333 4.66665 5.33333C4.29846 5.33333 3.99998 5.03485 3.99998 4.66666C3.99998 4.29847 4.29846 3.99999 4.66665 3.99999C5.03484 3.99999 5.33331 4.29847 5.33331 4.66666ZM1.99998 5.33333C2.36817 5.33333 2.66665 5.03485 2.66665 4.66666C2.66665 4.29847 2.36817 3.99999 1.99998 3.99999C1.63179 3.99999 1.33331 4.29847 1.33331 4.66666C1.33331 5.03485 1.63179 5.33333 1.99998 5.33333ZM3.99998 5.99999C3.99998 6.36819 3.7015 6.66666 3.33331 6.66666C2.96512 6.66666 2.66665 6.36819 2.66665 5.99999C2.66665 5.6318 2.96512 5.33333 3.33331 5.33333C3.7015 5.33333 3.99998 5.6318 3.99998 5.99999ZM5.99998 6.66666C6.36817 6.66666 6.66665 6.36819 6.66665 5.99999C6.66665 5.6318 6.36817 5.33333 5.99998 5.33333C5.63179 5.33333 5.33331 5.6318 5.33331 5.99999C5.33331 6.36819 5.63179 6.66666 5.99998 6.66666ZM9.33331 5.99999C9.33331 6.36819 9.03484 6.66666 8.66665 6.66666C8.29846 6.66666 7.99998 6.36819 7.99998 5.99999C7.99998 5.6318 8.29846 5.33333 8.66665 5.33333C9.03484 5.33333 9.33331 5.6318 9.33331 5.99999ZM9.99998 8C10.3682 8 10.6666 7.70152 10.6666 7.33333C10.6666 6.96514 10.3682 6.66666 9.99998 6.66666C9.63179 6.66666 9.33331 6.96514 9.33331 7.33333C9.33331 7.70152 9.63179 8 9.99998 8ZM7.99998 7.33333C7.99998 7.70152 7.7015 8 7.33331 8C6.96512 8 6.66665 7.70152 6.66665 7.33333C6.66665 6.96514 6.96512 6.66666 7.33331 6.66666C7.7015 6.66666 7.99998 6.96514 7.99998 7.33333ZM4.66665 8C5.03484 8 5.33331 7.70152 5.33331 7.33333C5.33331 6.96514 5.03484 6.66666 4.66665 6.66666C4.29846 6.66666 3.99998 6.96514 3.99998 7.33333C3.99998 7.70152 4.29846 8 4.66665 8ZM2.66665 7.33333C2.66665 7.70152 2.36817 8 1.99998 8C1.63179 8 1.33331 7.70152 1.33331 7.33333C1.33331 6.96514 1.63179 6.66666 1.99998 6.66666C2.36817 6.66666 2.66665 6.96514 2.66665 7.33333Z"
                        fill="url(#paint0_linear_503_3486)"></path>
                    </g>
                  </g>
                </g>
                <defs>
                  <filter id="filter0_d_503_3486" x="1.33331" y="1.33333" width="9.33331" height="7.66667"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"></feColorMatrix>
                    <feOffset dy="1"></feOffset>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"></feColorMatrix>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_503_3486"></feBlend>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_503_3486" result="shape">
                    </feBlend>
                  </filter>
                  <linearGradient id="paint0_linear_503_3486" x1="1.33331" y1="1.33333" x2="1.33331" y2="7.99999"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="white"></stop>
                    <stop offset="1" stop-color="#F0F0F0"></stop>
                  </linearGradient>
                  <clipPath id="clip0_503_3486">
                    <rect width="28" height="20" rx="2" fill="white"></rect>
                  </clipPath>
                </defs>
              </g>
            </svg>
            <h2 class="title-font font-medium text-3xl text-gray-900">15</h2>
            <p class="leading-relaxed">States</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer class="mx-auto">
    
  </footer>


</body>

</html>
