@{
    ViewData["Title"] = "Locations";
}

<!--
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home - Creative Solutions</title>
  </head>



<body>
  <h1>Daycare Locations</h1>

    <iframe src="https://www.google.com/maps/d/embed?mid=18s59__4j97L139vTN282BdI4cULETY4&ehbc=2E312F" width="640" height="480"></iframe>

    <iframe src="https://www.google.com/maps/d/embed?mid=123dAQ_J0DuSqvA9FBdvxQdc-_YlAB0s&ehbc=2E312F" width="640" height="480"></iframe>


    <iframe src="https://www.google.com/maps/embed?pb=!4v1689097749729!6m8!1m7!1sCAoSLEFGMVFpcFBOTXh5cWJ5NjQwMUJyTXAtc1dUeGhQX1RKM05nQWdzU0MzTEpq!2m2!1d33.35088441785008!2d-86.84694125375819!3f132.5055869341264!4f-3.867520505558275!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </html>
  --->

<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- TailwindCSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  
  <title>Daycare Locations</title>
</head>

<body class="bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8">Daycare Locations</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="rounded-lg shadow-lg bg-white p-4">
        <iframe src="https://www.google.com/maps/d/embed?mid=18s59__4j97L139vTN282BdI4cULETY4&ehbc=2E312F" width="100%" height="400"></iframe>
      </div>

      <div class="rounded-lg shadow-lg bg-white p-4">
        <iframe src="https://www.google.com/maps/d/embed?mid=123dAQ_J0DuSqvA9FBdvxQdc-_YlAB0s&ehbc=2E312F" width="100%" height="400"></iframe>
      </div>

      <div class="rounded-lg shadow-lg bg-white p-4">
        <iframe src="https://www.google.com/maps/embed?pb=!4v1689097749729!6m8!1m7!1sCAoSLEFGMVFpcFBOTXh5cWJ5NjQwMUJyTXAtc1dUeGhQX1RKM05nQWdzU0MzTEpq!2m2!1d33.35088441785008!2d-86.84694125375819!3f132.5055869341264!4f-3.867520505558275!5f0.7820865974627469" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</body>
</html>